<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/deform.css' %}">
</head>
<body>

  <h1>Degoogled Forms</h1>
<h2>Contact Information</h2>
<p>The name and photo associated with your google account will be recorded when you upload files and submit this form .Only the email you enter is part of your response.</p>

<div class="container">
  <form action="#" method="post">
    {% csrf_token %} 
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your name">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="usn">USN</label>
      </div>
      <div class="col-75">
        <input type="text" id="usn" name="usn" placeholder="Your USN">
      </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="email" name="email" placeholder="Enter your Email">
        </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="semester">Semester</label>
      </div>
      <div class="col-75">
        <select id="semester" name="semester">
            <option value="" disabled selected hidden>Your Semester</option>
          <option value="first">1st</option>
          <option value="second">2nd</option>
          <option value="third">3rd</option>
          <option value="fourth">4th</option>
          <option value="fifth">5th</option>
          <option value="sixth">6th</option>
          <option value="seventh">7th</option>
          <option value="eighth">8th</option>
        </select>
      </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="branch">Branch</label>
        </div>
        <div class="col-75">
          <select id="branch" name="branch">
              <option value="" disabled selected hidden>Your Branch</option>
            <option value="CSE">CSE</option>
            <option value="ISE">ISE</option>
            <option value="AIML">AIML</option>
            <option value="ECE">ECE</option>
            <option value="ETE">ETE</option>
            <option value="CV">CV</option>
            <option value="ME">ME</option>
            <option value="IM">IM</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="Programming Languages">Programming Languages</label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="programming-language" value="C++"> C++
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="Java"> Java
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="JavaScript"> JavaScript
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="C#"> C#
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="HTML"> HTML
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="Rust"> Rust
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="SQL"> SQL
          </label>
          <label>
            <input type="checkbox" name="programming-language" value="Python"> Python
          </label>
          
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="rating">Rating</label>
        </div>
        <div class="col-75" >
          <label>
            <input type="radio" name="Rating" value="1"> 1
          </label>
          <label>
            <input type="radio" name="Rating" value="2"> 2
          </label>
          <label>
            <input type="radio" name="Rating" value="3"> 3
          </label>
          <label>
            <input type="radio" name="Rating" value="4"> 4
          </label>
          <label>
            <input type="radio" name="Rating" value="5"> 5
          </label>
          
        </div>
      </div>


    <div class="row">
      <div class="col-25">
        <label for="subject">Feedback</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
</body>
</html>